## MYSQL
MYSQL_DB_HOST=localhost
MYSQL_DB_USER=root 
MYSQL_DB_PASSWORD=root 
MYSQL_DB_NAME=bot_whatsapp
MYSQL_DB_PORT=3306
## META WHATSAPP
TOKEN=EAAv2xxxxx
NUMBER_ID=xxxxxxxx
VERIFY_TOKEN=bot-whatsapp
## TURSO 
TURSO_DATABASE_URL=libsql://xxxxxx.turso.io
TURSO_AUTH_TOKEN=eyJhbGciOixxxxxxxxxxxxxxxxx